.account_container {
  width: 100%;
  .account_title_wrap {
    border-bottom: 3px solid #222;
    padding-bottom: 16px;
    .account_title {
      font-size: 22px;
      font-weight: 700;
    }
  }
  .account_sub_title {
    font-weight: 700;
    padding: 38px 0 20px 0;
  }
  .account_wrap_h2 {
    font-weight: 700;
    padding-top: 38px;
  }
  .account_wrap_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    &:first-of-type {
      margin-top: 0;
    }
    .account_form_title {
      font-size: 13px;
      letter-spacing: -0.07px;
      line-height: 18px;
      margin-bottom: 10px;
      .marginBottom10 {
        display: block;
        margin-bottom: 10px;
      }
    }
    input {
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      &:focus {
        outline: none;
      }
    }
  }
  .account_btn_box {
    // display: flex;
    // justify-content: center;
    .account_btn {
      background-color: #ffffff;
      border: 1px solid #b6b4b4;
      border-radius: 12px;
      font-size: 14px;
      width: 100%;
      padding: 2% 0;
      margin-top: 14px;
      font-weight: 600;
      color: #222;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: #222;
        border-color: #222;
      }
    }
  }
  .account_select {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
}
