.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.ReactModal__Content {
  .address_wrap_myaccount_h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 1px 0 0 0;
  }
  .address_plusbtn3 {
    background-color: #ffffff;
    border: 1px solid #b6b4b4;
    border-radius: 12px;
    font-size: 13px;
    height: 50px;
    width: 70px;
    margin-top: 20px;
  }
  .address_wrap_myaccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: baseline;
    .address_wrap_myaccount_inner {
      .address_title {
        font-size: 14px;
        letter-spacing: -0.07px;
        line-height: 18px;
        margin-bottom: 10px;
        font-weight: 500;
      }
      input {
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        &:focus {
          outline: none;
        }
      }
      .address_plusbtn2 {
        background-color: #ffffff;
        border: 1px solid #b6b4b4;
        border-radius: 12px;
        font-size: 13px;
        height: 40px;
        width: 15%;
        position: absolute;
      }
    }
    .address_title {
      font-size: 14px;
      letter-spacing: -0.07px;
      line-height: 18px;
      margin-bottom: 10px;
      font-weight: 500;
    }
    input {
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      &:focus {
        outline: none;
      }
    }
    .address_plusbtn2 {
      background-color: #ffffff;
      border: 1px solid #b6b4b4;
      border-radius: 12px;
      font-size: 13px;
      height: 40px;
      width: 15%;
    }
    .address_closebtn {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 1.6%;
      right: 7%;
      background-color: transparent;
      border: none;
      font-size: 50px;
      cursor: pointer;
    }
  }
}
.address_container_wrap {
  width: 100%;
  max-width: 1280px;
  padding: 20px 40px 0;
  margin: 0 auto;

  .address_wrap_h1 {
    font-weight: bold;
    font-size: 22px;
  }
  .address_wrap_btn {
    display: flex;
    justify-content: end;
    .address_plusbtn {
      background-color: #ffffff;
      border: 1px solid #b6b4b4;
      border-radius: 12px;
      font-size: 14px;
      height: 40px;
      width: 12%;
    }
  }

  .address_container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;

    .address_nav {
      margin-right: 20px;
      width: 180px;

      .address_nav_title {
        padding-bottom: 30px;
        font-weight: 700;
      }
      .address_shopinfo_title {
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 700;
      }
      .address_shopinfo_sub_li {
        margin-top: 12px;
        color: #b6b4b4;
        font-size: 15px;
      }

      .address_myinfo {
        margin-top: 40px;

        .address_myinfo_title {
          margin-bottom: 12px;
          font-size: 18px;
          font-weight: 700;
        }
        .address_myinfo_sub_li {
          margin-top: 12px;
          color: #b6b4b4;
          font-size: 15px;
        }
      }
    }

    .address_list {
      width: 100%;
      .address_list_item {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #000;
        padding: 4%;
        margin-bottom: 2%;

        &:last-of-type {
          margin-bottom: 0;
        }
        .address_updatebtn {
          background-color: #ffffff;
          border: 1px solid #b6b4b4;
          border-radius: 12px;
          font-size: 13px;
          height: 30px;
          width: 50px;
          margin-right: 8px;
        }
        .address_deletebtn {
          background-color: #ffffff;
          border: 1px solid #b6b4b4;
          border-radius: 12px;
          font-size: 13px;
          height: 30px;
          width: 50px;
        }
        .address_defalutbtn {
          background-color: #ffffff;
          border: 1px solid #b6b4b4;
          border-radius: 12px;
          font-size: 13px;
          height: 30px;
          width: 70px;
          margin-right: 8px;
        }
      }
    }
  }
}
