.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.ReactModal__Content {
  .address_wrap_myaccount_h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 1px 0 0 0;
  }
  .address_wrap_myaccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: baseline;
    .address_title {
      font-size: 14px;
      letter-spacing: -0.07px;
      line-height: 18px;
      margin-bottom: 10px;
      font-weight: 500;
    }
    input {
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      &:focus {
        outline: none;
      }
    }
    .address_plusbtn2 {
      background-color: #ffffff;
      border: 1px solid #b6b4b4;
      border-radius: 12px;
      font-size: 13px;
      height: 40px;
      width: 15%;
    }
    .address_closebtn {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 1.6%;
      right: 7%;
      background-color: transparent;
      border: none;
      font-size: 50px;
      cursor: pointer;
    }
  }
}
.address_container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 40px 40px 160px;

  .address_nav {
    margin-right: 20px;
    width: 180px;

    .address_nav_title {
      padding-bottom: 30px;
      font-weight: 700;
    }
    .address_shopinfo_title {
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 700;
    }
    .address_shopinfo_sub_li {
      margin-top: 12px;
      color: #b6b4b4;
      font-size: 15px;
    }

    .address_myinfo {
      margin-top: 40px;

      .address_myinfo_title {
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 700;
      }
      .address_myinfo_sub_li {
        margin-top: 12px;
        color: #b6b4b4;
        font-size: 15px;
      }
    }
  }
  .address_plusbtn {
    background-color: #ffffff;
    border: 1px solid #b6b4b4;
    border-radius: 12px;
    font-size: 13px;
    height: 40px;
    width: 15%;
  }
}
