.apply_wrap {
  padding: 30px 0;
  color: #222222;
  background-color: #f4f4f4;

  .apply_content {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin: auto;
    padding: 40px;
    border: 2px solid #222;
    border-radius: 8px;
    background-color: #fff;

    .content_header {
      color: #000;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      padding: 0 0 8px;
      border-bottom: 2px solid #222222;
      margin-bottom: 4px;
    }

    .apply_item {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;
      height: 144px;
      padding: 20px 32px;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 12px;

      .item_img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
      }
    }

    .apply_form {
      font-size: 14px;
      font-weight: 700;

      .apply_form_input {
        width: 200px;
        outline: none;
        text-align: end;
        font-size: 18px;
        font-weight: 600;
        padding-right: 4px;

        &::placeholder {
          font-size: 18px;
          font-weight: 600;
          color: #bcbcbc;
        }
      }

      .input_unit {
        font-size: 18px;
        font-weight: 600;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .item_size,
      .item_desc,
      .item_price {
        padding-bottom: 10px;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 18px;
      }

      .item_desc {
        display: flex;
        flex-direction: column;

        #desc {
          width: 100%;
          height: 80px;
          overflow-y: auto;
          outline: none;
          margin-top: 8px;
          resize: none;
        }
      }

      .item_size,
      .item_price {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .item_fee {
        width: 100%;
        margin-bottom: 24px;
        tr {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          letter-spacing: -0.21px;
          font-weight: 400;
        }

        .fee_title {
          font-size: 13px;
          letter-spacing: -0.07px;
          color: #22222280;

          .fee_icon {
            padding: 0 3px;
          }

          .fee_desc {
            display: none;
            font-size: 12px;
            color: #bcbcbc;
          }

          .fee_icon:hover + .fee_desc {
            display: inline-block;
          }
        }
      }

      .deadline_wrap {
        padding-bottom: 32px;
        border-bottom: 2px solid #eee;

        .deadline_header {
          font-size: 14px;
          font-weight: 700;
          letter-spacing: -0.21px;
          margin-bottom: 6px;
        }

        .deadline_text {
          font-size: 15px;
          font-weight: 400;
          letter-spacing: -0.15px;
          margin-bottom: 6px;
        }

        .deadline_dates {
          display: grid;
          grid-template-columns: repeat(5, minmax(0, 1fr));
          gap: 40px 20px;

          button {
            width: 100%;
            height: 42px;
            background-color: transparent;
            border: 1px solid #d3d3d3;
            border-radius: 12px;
            padding: 0 18px;
            font-size: 14px;
            color: #222222cc;
            cursor: pointer;

            &:hover {
              background-color: #ebebeb;
            }

            &.selected {
              border: 1px solid #222;
              color: #222;
              font-weight: 700;

              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }

      .totalPrice_wrap {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.01px;
        padding: 16px 0 12px;
      }

      .totalPrice_amount {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
      }

      .ready {
        color: #31b46e;
      }

      .applyBtn {
        width: 100%;
        height: 52px;
        color: #fff;
        border-radius: 10px;
        background-color: #ebebeb;

        &.showApplyBtn {
          background-color: #222222;
          cursor: pointer;
        }
      }
    }
  }
}

.ApplyResult_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 250px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);

  .result_content {
    color: #fff;
    font-size: 30px;
    margin-bottom: 24px;

    .check {
      color: #31b46e;
      margin-right: 8px;
    }
  }

  .homeBtn {
    width: 100px;
    color: #fff;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
    padding: 12px 0;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
