.brands_wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  .brand_header {
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 20px 0 40px;

    .brand_header_img {
      width: 110px;
      height: 110px;
      border: 1px solid #2222220d;
      border-radius: 50%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .brand_header_title {
      font-size: 28px;
      font-weight: 700;
      line-height: 33px;
      color: #222;
      margin-bottom: 4px;
    }

    .subTitle {
      font-size: 16px;
      line-height: 16px;
      color: #22222280;
    }
  }

  .brand_result_lists {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 40px 20px;

    .brand_item_img {
      width: 100%;
      height: 230px;
      border-radius: 16px;
      background-color: lightgray;
      margin-bottom: 8px;
    }

    .brand_item_desc {
      padding: 0 4px;

      .brandName {
        font-size: 13px;
        font-weight: 700;
        color: #333333;
        margin-bottom: 2px;
      }

      .productName {
        font-size: 13px;
        color: #222222;
        margin-bottom: 2px;
      }

      .price {
        font-size: 14px;
        font-weight: 700;
        color: #222222;
      }
    }
  }
}
