.carousel_wrap {
  .swiperSlide_item {
    width: 100%;
    img {
      max-width: 1280px;
      margin: 0 auto;
      object-fit: cover;
    }
  }
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
  .swiper-pagination-bullet-active {
    background-color: #000;
  }
}
