.carousel_wrap {
  width: 100%;
  height: 100%;
  max-height: 460px;
  .swiperSlide_item {
    position: relative;
    height: 100%;
    max-height: 460px;
    .item_inner {
      width: 100%;
      margin: 0 auto;
      img {
        object-fit: scale-down;
      }
    }
  }
}
