.blank {
  margin-right: 17px;
  display: inline-block;
}
.footer {
  width: 100%;
  max-width: 1280px;
  margin: 40px auto;
  font-size: 12px;
  .footer_container {
    width: 100%;
    max-width: 1280;
    padding: 0 40px;
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }
  .modal-content {
    position: relative;
    background-color: lightcoral;
    padding: 20px;
    border-radius: 16px;
    width: 560px;
    height: 560px;
    overflow: auto;
    .modal-button {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 1%;
      right: 5%;
      background-color: transparent;
      border: none;
      font-size: 50px;
      cursor: pointer;
    }
  }
  .footer_container {
    display: flex;
    flex-direction: column;

    .footer_top {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #ebebeb;
      padding: 40px;

      .footer_top_inner {
        width: 100%;
        max-width: 1280px;
        display: flex;
      }
      .footer_nav {
        display: flex;
        .footer_info {
          color: rgba(34, 34, 34, 0.5);

          .menu_title {
            font-weight: 700;
            font-size: 16px;
            color: #000;
          }
          li {
            margin-top: 5px;
            padding: 6px 0px;
          }
        }
      }
      .footer_nav2 {
        display: flex;
        .footer_info2 {
          color: rgba(34, 34, 34, 0.5);
          .menu_title2 {
            font-weight: 700;
            font-size: 16px;
            color: #000;
            max-width: 500px;
            padding: 6px 81px;
          }
          li {
            margin-top: 5px;

            padding: 6px 81px;
          }
        }
      }
      .footer_info3 {
        .p6 {
          font-weight: 700;
          margin-bottom: 10px;
          font-size: 16px;
        }
        .p7 {
          max-width: 263px;
          margin-bottom: 10px;
          color: rgba(34, 34, 34, 0.5);
        }

        .p9 {
          margin-top: 8px;
          border-radius: 0;
          display: block;
          #question_button {
            width: 100px;
            height: 34px;
            position: relative;
            background-color: black;
            color: white;
            font-size: 11px;
            font-weight: 900;
            margin-top: 10px;
            z-index: -1;
          }
        }
      }
    }
    .footer_bottom {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #ebebeb;
      padding: 0 40px;

      .footer_nav3 {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 30px;
        z-index: -1;
        .footer_info4_wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .footer_info4 {
            li {
              padding: 10px 0px;
              display: inline-flex;
              margin-right: 20px;
            }
            .menu_title3 {
              font-weight: 900;
            }
          }
        }
        .p_wrap {
          max-width: 653px;
          font-size: 12.4px;
          letter-spacing: -0.4px;
          color: rgba(34, 34, 34, 0.5);
        }
        .footer_info4_icon {
          position: absolute;
          top: 0;
          right: 0;
          a {
            display: inline-block;
            margin-right: 20px;
            &:last-child {
              margin-right: 0;
            }
            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
        .p1 {
          margin-bottom: 40px;
        }

        #p10 {
          text-decoration: underline;
        }
      }
      .footer_nav4 {
        font-size: 11.4px;

        color: rgba(34, 34, 34, 0.5);
        .p2 {
          margin-bottom: 4px;
          font-weight: 700;
          color: #000;
        }
        .p3 {
          margin-bottom: 20px;
        }
        .p4 {
          max-width: 605px;
        }
        #p11 {
          text-decoration: underline;
        }
      }
      // .footer_info5 {
      //   position: relative;

      //   max-width: 640px;

      //   .FcCloseUpMode {
      //     display: flex;
      //     font-size: 30px;
      //     position: absolute;
      //     right: 101px;
      //     bottom: 200px;
      //   }
      //   .FaCamera {
      //     display: flex;
      //     font-size: 30px;
      //     position: absolute;
      //     right: 41px;
      //     bottom: 200px;
      //   }
      // }
    }
  }
}
