.blank {
  margin-right: 17px;
  display: inline-block;
}
.footer {
  width: 100%;
  max-width: 1280px;
  margin: 40px auto;
  font-size: 12px;
  padding: 0 40px;
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }
  .modal-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    width: 560px;
    height: 600px;

    .modal-content-inner {
      width: 100%;
      height: 540px;
      overflow: auto;
      padding: 30px 60px;
    }
    .modal-title {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      padding: 12px 0 0 0;
    }
    .modal-button {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 1.6%;
      right: 7%;
      background-color: transparent;
      border: none;
      font-size: 50px;
      cursor: pointer;
      svg {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
  .footer_container {
    display: flex;
    flex-direction: column;

    .footer_top {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #ebebeb;
      padding: 40px 0;

      .footer_top_inner {
        width: 100%;
        max-width: 1280px;
        display: flex;
      }
      .footer_nav {
        display: flex;
        .footer_info {
          color: rgba(34, 34, 34, 0.5);

          .menu_title {
            font-weight: 700;
            font-size: 16px;
            color: #000;
          }
          li {
            cursor: pointer;
            margin-top: 5px;
            padding: 6px 0px;
          }
        }
      }
      .footer_nav2 {
        display: flex;
        .footer_info2 {
          color: rgba(34, 34, 34, 0.5);
          .menu_title2 {
            font-weight: 700;
            font-size: 16px;
            color: #000;
            max-width: 500px;
            padding: 6px 81px;
          }
          li {
            margin-top: 5px;

            padding: 6px 81px;
          }
        }
      }
      .footer_info3 {
        .p6 {
          font-weight: 700;
          margin-bottom: 10px;
          font-size: 16px;
        }
        .p7 {
          max-width: 263px;
          margin-bottom: 10px;
          color: rgba(34, 34, 34, 0.5);
        }

        .p9 {
          margin-top: 8px;
          border-radius: 0;
          display: block;
          #question_button {
            width: 100px;
            height: 34px;
            position: relative;
            background-color: black;
            color: white;
            font-size: 11px;
            font-weight: 900;
            margin-top: 10px;
            z-index: -1;
          }
        }
      }
    }
    .footer_bottom {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #ebebeb;

      .footer_nav3 {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 30px;
        .footer_info4_wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .footer_info4 {
            li {
              padding: 10px 0px;
              display: inline-flex;
              margin-right: 20px;
            }
            .menu_title3 {
              font-weight: 900;
            }
          }
        }
        .p_wrap {
          max-width: 653px;
          font-size: 12.4px;
          letter-spacing: -0.4px;
          color: rgba(34, 34, 34, 0.5);
        }
        .footer_info4_icon {
          position: absolute;
          top: 0;
          right: 0;
          a {
            display: inline-block;
            margin-right: 20px;
            &:last-child {
              margin-right: 0;
            }
            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
        .p1 {
          margin-bottom: 40px;
        }

        #p10 {
          text-decoration: underline;
        }
      }
      .footer_nav4 {
        font-size: 11.4px;

        color: rgba(34, 34, 34, 0.5);
        .p2 {
          margin-bottom: 4px;
          font-weight: 700;
          color: #000;
        }
        .p3 {
          margin-bottom: 20px;
        }
        .p4 {
          max-width: 605px;
        }
        #p11 {
          text-decoration: underline;
        }
      }
    }
  }
}
.contenth1 {
  border-bottom: 3px solid #222;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.modal-content2 {
  padding: 60px;
  margin: 0px auto;
  max-width: 700px;
}
.accordionh2 {
  display: flex;
  justify-content: center;
}
.accordion {
  margin-top: 20px;
}
.accordion-button {
  display: flex;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  width: 63%;
  text-align: left;
  padding: 15px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
}

.accordion-content {
  padding: 15px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

.accordion-button.active + .accordion-content {
  display: block;
}
.content-block {
  font-family: Arial, sans-serif;
  max-width: 808px;
  margin: 0px 318px;
  padding: 20px;
}
.contentq {
  word-break: break-word;
}
.contentq p {
  line-height: 22.5px;
}
.tableq {
  margin-top: 10px;
  table {
    word-wrap: break-word;
    text-align: center;

    width: 100%;
    word-break: break-word;
    td {
      width: 900px;
      border-top: 1px solid #ebebeb;
    }
  }
}
.tableq h4 {
  color: red;
}

/*.footer_tab_wrap {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
  position: relative;
  .tab_item {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;

    border: 1px solid #eee;
    .tab_btn {
      width: 100%;
      height: 100%;
      background-color: transparent;
      .active {
        font-weight: bold;
      }
    }
    .tab_content {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
  }
}
.footer_tab_wrap2 {
  width: 50%;
  display: flex;

  justify-content: center;
  margin: 20px auto 0;
}

.tab_item2 {
  width: 50%;
}
.tab_btn2 {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  border: 1px solid #ccc;
}

.tab_btn2 p {
  margin: 0;
  padding: 10px 0;
}

.active {
  font-weight: bold;
}

.tab_content2 {
  display: none;
}

.show {
  width: 1000px;
  margin: 0px 50px;
  max-width: 800px;
  display: block;
}*/
.tabs-container {
  width: 100%;
}

.tabs-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

  margin-bottom: 20px;
}

.tab-button {
  background: transparent;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
}

.tab-content3 {
  margin: 0px 100px;
  padding: 0px 300px;
  font-size: 15px;
}
.dropdown_head[data-v-5b093f8c] {
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  display: flex;
  padding: 17px 0 19px;
  margin: 0px 600px;
}
.dropdown_head .sort[data-v-5b093f8c] {
  font-size: 14px;
  letter-spacing: -0.21px;
  min-width: 68px;
  width: 68px;
}
.dropdown_head .title_box[data-v-5b093f8c] {
  margin-right: 10px;
}
.dropdown_head .title[data-v-5b093f8c] {
  font-size: 15px;
  letter-spacing: -0.15px;
}
.contentn {
  max-width: 640px;
  padding: 15px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
  margin: 0px 620px;
}
.noticehome {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  #notice_button {
    border-radius: 12px;
    font-size: 14px;
    height: 42px;
    letter-spacing: -0.14px;
    padding: 0 18px;
    border: 1px solid #d3d3d3;
    background-color: white;
    cursor: pointer;
  }
}
.purchase_list_tab[data-v-2cbb289b] {
  background-color: #fafafa;
  border-radius: 12px;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.tab_item[data-v-2cbb289b] {
  display: table-cell;
  text-align: center;
}
.tab_link[data-v-2cbb289b] {
  display: block;
  height: 96px;
  padding-top: 18px;
  position: relative;
}
.tab_link .title[data-v-2cbb289b] {
  color: rgba(34, 34, 34, 0.8);
  font-size: 13px;
  letter-spacing: -0.07px;
}
.tab_item:first-of-type .tab_link[data-v-2cbb289b]:before {
  background-color: #ebebeb;
  bottom: 18px;
  content: "";
  position: absolute;
  right: 0;
  top: 18px;
  width: 1px;
}
