.footer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 12px;
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    position: relative;
    background-color: lightcoral;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    overflow: auto;
    .modal-button {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 1%;
      right: 5%;
      background-color: transparent;
      border: none;
      font-size: 50px;
      cursor: pointer;
    }
  }
  .footer_container {
    display: flex;
    flex-direction: column;
    .footer_top {
      display: flex;
      justify-content: center;
      border-top: 1px solid dimgray;
      padding-top: 40px;
      padding-bottom: 40px;
      .footer_nav {
        display: flex;
        .footer_info {
          color: rgba(34, 34, 34, 0.5);
          li {
            padding: 10px 0px;
          }
        }
      }
      .footer_nav2 {
        .footer_info2 {
          color: rgba(34, 34, 34, 0.5);
          li {
            margin-right: 500px;
            padding: 10px 81px;
          }
        }
      }
      .footer_info3 {
        .p6 {
          font-weight: 700;
          margin-bottom: 10px;
          font-size: 16px;
        }
        .p7 {
          max-width: 263px;
          margin-bottom: 10px;
          color: rgba(34, 34, 34, 0.5);
        }

        .p9 {
          margin-top: 8px;
          border-radius: 0;
          display: block;

          .Link1 {
            font-size: 8px;
          }
          #question_button {
            width: 120px;
            height: 37px;
            position: relative;
            background-color: black;
            color: white;
            font-size: 13px;
          }
        }
      }
    }
    .footer_bottom {
      display: flex;
      flex-direction: column;
      border-top: 1px solid dimgray;

      .footer_nav3 {
        display: flex;
        .footer_info4 {
          li {
            padding: 10px 0px;
            display: inline-flex;
            margin-right: 20px;
            margin-top: 40px;
          }
          .info41 {
            font-weight: 700px;
          }
        }
      }
      .footer_info5 {
        position: relative;
        .p2 {
          margin-bottom: 20px;
        }
        .p4 {
          margin-bottom: 20px;
          max-width: 600px;
        }
        .p5 {
          max-width: 600px;
        }
        .FcCloseUpMode {
          display: flex;
          font-size: 30px;
          position: absolute;
          right: 101px;
          bottom: 250px;
        }
        .FaCamera {
          display: flex;
          font-size: 30px;
          position: absolute;
          right: 41px;
          bottom: 250px;
        }
      }
    }
  }
}
