.header {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ebebeb;

  .user-menu {
    display: flex;
    justify-content: end;
    font-size: 12px;
    padding: 8px 40px;
    gap: 20px;

    li {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .logo {
    font-size: 30px;
    text-align: center;
    padding: 20px 40px;
  }

  .category {
    display: flex;
    justify-content: center;
    padding: 0 40px;
    gap: 30px;

    li {
      font-size: 16px;
      padding: 15px 6px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
