.home_wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  .home_section {
    margin-top: 28px;
    margin-bottom: 28px;

    .section_title {
      margin-bottom: 16px;

      h3 {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 2px;
      }

      p {
        font-size: 16px;
        color: rgba(34, 34, 34, 0.5);
      }
    }

    .topBrand_items_wrap {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      gap: 16px 8px;

      .topBrand_item {
        img {
          width: 100%;
          height: 100px;
        }

        p {
          font-size: 14px;
          color: #222222;
          text-align: center;
        }
      }
    }
  }
}
