.home_wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  .home_section {
    padding: 28px 0;
    border-bottom: 1px solid #ebebeb;

    .section_title {
      margin-bottom: 16px;

      h3 {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 2px;
      }

      p {
        font-size: 16px;
        color: rgba(34, 34, 34, 0.5);
      }
    }

    .moreBtn_wrap {
      text-align: center;
    }

    .moreBtn {
      height: 42px;
      font-size: 14px;
      color: #222222;
      padding: 0 30px;
      border: 1px solid #d3d3d3;
      border-radius: 12px;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .topBrand_items_wrap {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 16px 8px;

    .topBrand_item {
      img {
        width: 100%;
        height: 100px;
        border-radius: 10px;
      }

      p {
        font-size: 14px;
        color: #222222;
        text-align: center;
      }
    }
  }

  .newIn_lists_wrap {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 40px 20px;
    margin-bottom: 20px;

    .newIn_item {
      .newIn_item_img {
        width: 100%;
        height: 230px;
        border-radius: 10px;
        margin-bottom: 8px;
        background-color: #eee;
      }

      .newIn_item_desc {
        padding: 0 4px;

        .brandName {
          font-size: 13px;
          font-weight: 700;
          color: #333333;
          margin-bottom: 2px;
        }

        .productName {
          font-size: 13px;
          color: #222222;
          margin-bottom: 2px;
        }

        .price {
          font-size: 14px;
          font-weight: 700;
          color: #222222;
        }
      }
    }
  }
}
