.itemDetail_main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  padding: 20px 40px 0;
  margin: 0 auto;
  .itemDetail_container {
    display: flex;
    .item_img_wrap {
      width: 100%;
      max-width: 50%;
      margin-right: 3%;
      position: sticky;
      top: 140px;
      height: 600px;
      border: 1px solid #ddd;
    }
    .item_info_wrap {
      width: 100%;
      max-width: 50%;
      padding-left: 3%;
      border-left: 1px solid #ddd;
      .item_title {
        padding-bottom: 10px;
      }
      .item_sub_name {
        font-size: 14px;
        color: rgba(34, 34, 34, 0.5);
      }
      .item_info {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0;
        margin: 20px 0 10px 0;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 14px;
        li {
          width: 100%;
          border-right: 1px solid #ddd;
          padding: 0 8px;
          .item_info_title {
            color: rgba(34, 34, 34, 0.5);
            font-size: 12px;
            letter-spacing: -0.06px;
            letter-spacing: -0.33px;
            line-height: 14px;
          }
          .item_content {
            font-size: 13px;
            line-height: 17px;
            margin-top: 4px;
            word-break: break-word;
          }
        }
      }

      .btn_wrap {
        display: flex;
        gap: 12px;
        .sell_btn {
          width: 100%;
          margin-top: 24px;
          padding: 3% 2%;
          border: 1px solid rgb(65, 185, 121);
          border-radius: 14px;
          cursor: pointer;
          background-color: #fff;
          color: rgb(65, 185, 121);
          font-weight: bold;
        }
        .buy_btn {
          width: 100%;
          margin-top: 24px;
          padding: 3% 2%;
          background-color: #fff;
          border: 1px solid rgb(239, 98, 83);
          border-radius: 14px;
          cursor: pointer;
          color: rgb(239, 98, 83);
          font-weight: bold;
        }
      }
      .like_btn {
        width: 100%;
        margin-top: 24px;
        padding: 3% 2%;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 14px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .info_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        .delivery_info {
          width: 100%;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #ddd;
          .delivery_title {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.21px;
            line-height: 17px;
            padding: 20px 0 0;
          }
          .delivery_inner {
            display: flex;
            align-items: center;
            padding: 20px 0;
            .delivery_img {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 100%;
              background-color: #f4f4f4;
              margin-right: 14px;
            }
            .delivery_content {
              .delivery_content_text {
                font-size: 13px;
                letter-spacing: -0.7px;
                span {
                  font-weight: 600;
                }
              }
              .delivery_content_text2 {
                color: rgba(34, 34, 34, 0.5);
                font-size: 12px;
                height: 14px;
                letter-spacing: -0.06px;
                line-height: 14px;
                margin-top: 4px;
              }
            }
          }
        }
        .brand_info {
          width: 100%;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #ddd;
          .brand_title {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.21px;
            line-height: 17px;
            padding: 20px 0 0;
          }
          .brand_link_wrap {
            .brand_inner {
              display: flex;
              align-items: center;
              padding: 20px 0;
              .brand_logo {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                overflow: hidden;
                margin-right: 14px;
                img {
                  width: 100%;
                  height: 100%;
                  display: block;
                }
              }
              .brand_content {
                .brand_content_title {
                  display: flex;
                  align-items: center;
                  font-size: 16px;
                  font-weight: 600;
                  letter-spacing: -0.16px;
                }
                .brand_content_kor_title {
                  color: rgba(34, 34, 34, 0.5);
                  display: flex;
                  font-size: 12px;
                  letter-spacing: -0.06px;
                  margin-top: 2px;
                }
              }
              .brand_content_text {
                font-size: 16px;
                color: rgba(34, 34, 34, 0.5);
                margin-left: 10px;
              }
            }
          }
        }
        .guide_container {
          display: flex;
          flex-direction: column;
          padding: 20px 0;
          .guide_wrap {
            display: flex;
            align-items: center;
            margin: 20px 0;
            .guide_icon {
              width: 40px;
              height: 40px;
              background-color: #fff;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 14px;
            }
            .guide_content {
              .guide_title {
                display: block;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: normal;
              }
              .guide_text {
                color: rgba(34, 34, 34, 0.5);
                font-size: 13px;
                letter-spacing: normal;
                line-height: 16px;
                margin-top: 1px;
              }
            }
          }
        }
      }
    }
    .swiper-button-next {
      color: #222;
    }
    .swiper-button-prev {
      color: #222;
    }
  }
  .trade_list_wrap {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddd;
    padding-top: 40px;
    margin-top: 40px;
    .sell_wrap {
      width: 100%;
      margin-right: 3%;
    }
    .buy_wrap {
      width: 100%;
      border-left: 1px solid #ddd;
      padding-left: 3%;
    }
  }
}
