.itemDetail_container {
  width: 100%;
  max-width: 1280px;
  padding: 20px 40px 0;
  margin: 0 auto;
  display: flex;
  .item_img_wrap {
    width: 100%;
    height: 500px;
    max-width: 50%;
    padding-right: 3%;
    position: sticky;
    top: 140px;
    .item_img_fixed {
    }
  }
  .item_info_wrap {
    width: 100%;
    max-width: 50%;
    padding-left: 3%;
    border-left: 1px solid #ddd;
  }
}
