.mypage_container {
  max-width: 1280px;
  display: flex;
  gap: 20px;
  margin: auto;
  padding: 40px 40px 160px;

  .mypage_nav {
    width: 100%;
    max-width: 200px;
    margin-right: 20px;

    .mypage_nav_title {
      font-size: 24px;
      letter-spacing: -0.15px;
      line-height: 29px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .mypage_shopinfo_title,
    .mypage_myinfo_title {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.27px;
      line-height: 22px;
      margin-bottom: 12px;
    }
    .mypage_shopinfo_sub_li_active {
      color: #222222;
      font-size: 15px;
      letter-spacing: -0.15px;
      line-height: 18px;
      margin-bottom: 12px;
      transition: all ease-in 100ms;
      font-weight: bold;
    }
    .mypage_myinfo_sub_li_active {
      color: #222222;
      font-size: 15px;
      letter-spacing: -0.15px;
      line-height: 18px;
      margin-bottom: 12px;
      transition: all ease-in 100ms;
      font-weight: bold;
    }
    .mypage_shopinfo_sub_li,
    .mypage_myinfo_sub_li {
      color: #22222280;
      font-size: 15px;
      letter-spacing: -0.15px;
      line-height: 18px;
      margin-bottom: 12px;
      transition: all ease-in 100ms;

      &:hover {
        color: #222222;
      }
    }

    .mypage_myinfo {
      margin-top: 40px;
    }
  }

  .mypage_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 42px;

    .mypage_profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border: 1px solid #ebebeb;
      border-radius: 10px;

      .mypage_userinfo {
        display: flex;
        align-items: center;

        .user_img {
          height: 60px;
          width: 60px;
        }

        .user_detail {
          .name {
            color: #000;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: -0.27px;
            line-height: 21px;
          }

          .email {
            color: #22222280;
            font-size: 14px;
            letter-spacing: -0.05px;
            line-height: 18px;
          }
        }
      }

      .setting_profile {
        display: flex;
        gap: 7px;

        .goToLink {
          font-size: 11px;
          letter-spacing: -0.06px;
          color: #222222cc;
          padding: 8px 14px;
          border: 1px solid #d3d3d3;
          border-radius: 10px;
          transition: all ease-in 100ms;

          &:hover {
            border: 1px solid #b6b4b4;
          }
        }
      }
    }
  }
}

.dealDetail_wrap {
  color: #222222;

  .detail_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .header_title {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.27px;
    }

    .showMore_Btn {
      color: #22222280;
      font-size: 13px;
      letter-spacing: -0.07px;
      transition: all ease-in 100ms;

      &:hover {
        color: #222222;
      }
    }
  }

  .detail_main {
    .detail_process {
      width: 100%;
      text-align: center;
      background-color: #fafafa;
      padding: 16px;
      border-radius: 12px;
      margin-bottom: 8px;

      th {
        color: #222222cc;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.07px;
      }

      td {
        width: 33%;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.09px;
        line-height: 20px;
        margin-top: 2px;

        &.totalBuy {
          color: #f15746;
        }

        &.total {
          color: #31b46e;
        }
      }
    }

    .detail_list_wrap {
      width: 100%;
      max-height: 180px;
      overflow: hidden;

      .detail_list {
        padding: 10px;
        border-bottom: 1.5px solid #eee;
        margin-bottom: 4px;

        .detail_type {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 4px;
          font-size: 13px;
          color: #222222cc;

          .type_title {
            font-weight: 700;
          }
        }

        .detail_desc {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #000;
          font-size: 15px;
          margin-bottom: 2px;
        }

        .deadline {
          display: flex;
          justify-content: space-between;
          color: #222222cc;
          font-size: 13px;

          .deadline_title {
            margin-right: 8px;
          }
        }
      }
    }

    .noDetail {
      font-size: 14px;
      letter-spacing: -0.21px;
      color: #22222280;
      padding: 90px 0;
      text-align: center;
    }
  }

  .wish_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 13px;
    letter-spacing: -0.21px;
    color: #22222280;
    border-radius: 12px;
    text-align: center;
    .wish_item_container {
      width: 33.33%;
      height: 100%;
      display: block;
      padding: 2%;
      &:first-of-type {
        margin-left: 0;
      }
      .wish_item_wrap {
        .wish_item_img {
          background-color: #fafafa;
          border-radius: 14px;
          overflow: hidden;
        }
        .wish_item_info {
          text-align: left;
          .wish_item_info_brand {
            color: #222;
            display: inline-block;
            font-size: 13px;
            font-weight: 700;
            max-width: 100%;
            overflow: hidden;
            padding-bottom: 2px;
            text-overflow: ellipsis;
            vertical-align: top;
            white-space: nowrap;
            width: fit-content;
            padding: 2% 0;
          }
          .wish_item_info_name {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            text-wrap: nowrap;
          }
        }
      }
    }

    .content {
      margin-bottom: 12px;
    }

    .goToShopBtn {
      font-size: 12px;
      color: #222222cc;
      border: 1px solid #22222280;
      padding: 8px 12px;
      border-radius: 10px;

      &:hover {
        background-color: #222;
        color: #fff;
        border-color: #222;
      }
    }
  }
}
