.mypage_container {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 40px 40px 160px;

  .mypage_nav {
    margin-right: 20px;
    width: 100%;
    max-width: 200px;

    .mypage_nav_title {
      padding-bottom: 30px;
      font-weight: 700;
    }
    .mypage_shopinfo_title {
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 700;
    }
    .mypage_shopinfo_sub_li {
      margin-top: 12px;
      color: #b6b4b4;
      font-size: 15px;
    }

    .mypage_myinfo {
      margin-top: 40px;

      .mypage_myinfo_title {
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 700;
      }
      .mypage_myinfo_sub_li {
        margin-top: 12px;
        color: #b6b4b4;
        font-size: 15px;
      }
    }
  }

  .mypage_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 42px;

    .mypage_profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px;
      border: 1px solid #ebebeb;
      border-radius: 10px;

      .mypage_userinfo {
        display: flex;
        align-items: center;

        .user_img {
          height: 60px;
          width: 60px;
        }

        .user_detail {
          .name {
            color: #000;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: -0.27px;
            line-height: 21px;
          }

          .email {
            color: #22222280;
            font-size: 14px;
            letter-spacing: -0.05px;
            line-height: 18px;
          }
        }
      }

      .setting_profile {
        display: flex;
        gap: 7px;

        .goToLink {
          font-size: 12px;
          letter-spacing: -0.06px;
          color: #222222cc;
          padding: 8px 14px;
          border: 1px solid #d3d3d3;
          border-radius: 10px;
        }
      }
    }
  }
}

.dealDetail_wrap {
  color: #222222;

  .detail_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .header_title {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.27px;
    }

    .showMore_Btn {
      color: #22222280;
      font-size: 13px;
      letter-spacing: -0.07px;
    }
  }

  .detail_main {
    .detail_process {
      width: 100%;
      text-align: center;
      background-color: #fafafa;
      padding: 18px;
      border-radius: 12px;

      th {
        color: #222222cc;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.07px;
      }

      td {
        width: 33%;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.09px;
        line-height: 20px;
        margin-top: 2px;

        &.totalBuy {
          color: #f15746;
        }

        &.total {
          color: #31b46e;
        }
      }
    }

    .detail_list_wrap {
      width: 100%;
      max-height: 180px;
      overflow: hidden;

      .detail_list {
        padding: 10px;
        border-bottom: 1.5px solid #eee;
        margin-bottom: 4px;

        .detail_type {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 4px;
          font-size: 13px;
          color: #222222cc;

          .type_title {
            font-weight: 700;
          }
        }

        .detail_desc {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 15px;
          margin-bottom: 2px;
        }

        .deadline {
          display: flex;
          justify-content: space-between;
          color: #222222cc;
          font-size: 13px;

          .deadline_title {
            margin-right: 8px;
          }
        }
      }
    }

    .noDetail {
      font-size: 14px;
      letter-spacing: -0.21px;
      color: #22222280;
      padding: 90px 0;
      text-align: center;
    }
  }

  .wish_list {
    font-size: 13px;
    letter-spacing: -0.21px;
    color: #22222280;
    background-color: #fafafa;
    border-radius: 12px;
    padding: 90px 0;
    text-align: center;

    .content {
      margin-bottom: 12px;
    }

    .goToShopBtn {
      font-size: 12px;
      color: #222222cc;
      border: 1px solid #22222280;
      padding: 8px 12px;
      border-radius: 10px;
      transition: all ease-in 100ms;

      &:hover {
        background-color: #fff;
      }
    }
  }
}
