.mypage_container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 40px 40px 160px;

  .mypage_nav {
    margin-right: 20px;
    width: 180px;

    .mypage_nav_title {
      padding-bottom: 30px;
      font-weight: 700;
    }
    .mypage_shopinfo_title {
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 700;
    }
    .mypage_shopinfo_sub_li {
      margin-top: 12px;
      color: #b6b4b4;
      font-size: 15px;
    }

    .mypage_myinfo {
      margin-top: 40px;

      .mypage_myinfo_title {
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 700;
      }
      .mypage_myinfo_sub_li {
        margin-top: 12px;
        color: #b6b4b4;
        font-size: 15px;
      }
    }
  }
  .mypage_wrap {
    width: 100%;
    .mypage_profile {
      display: flex;
      border: 1px solid #b6b4b4;
      flex-direction: row;
      justify-content: space-between;
      padding: 24px;
      border-radius: 10px;
      .mypage_userinfo {
        width: 100%;
        display: flex;
        align-items: center;
        .mypage_userinfo_image {
          height: 60px;
          width: 60px;
        }
        .mypage_userinfo_info_name {
          font-weight: 700;
        }
      }
      .mypage_profile_settings {
        width: 100%;
        display: flex;
        align-items: center;
        .mypage_profile_settings_setting {
          width: 100%;
          border: 1px solid #b6b4b4;
          border-radius: 12px;
          font-size: 13px;
          a {
            width: 100%;
            height: 100%;
            padding: 4% 2%;
            text-align: center;
            display: block;
          }
        }
        .mypage_profile_settings_mystyle {
          width: 100%;
          border: 1px solid #b6b4b4;
          border-radius: 12px;
          margin-left: 7px;
          font-size: 13px;
          a {
            width: 100%;
            height: 100%;
            padding: 4% 2%;
            text-align: center;
            display: block;
          }
        }
      }
    }
    .mypage_buy {
      .mypage_buy_title {
        display: flex;
        margin-top: 42px;
        .mypage_buy_title_h3 {
          font-size: 18px;
          font-weight: 700;
        }
        .mypage_buy_title_a {
          display: flex;
          margin-left: auto;
          font-size: 13px;
          align-items: center;
        }
      }
      .mypage_buy_purchase_list {
        background-color: #fafafa;
        border-radius: 12px;
        display: table;
        table-layout: fixed;
        width: 100%;
        font-size: 13px;
        padding: 30px;
        .mypage_buy_purchase_list1 {
          display: table-cell;
          text-align: center;
        }
        .mypage_buy_purchase_list2 {
          display: table-cell;
          text-align: center;
        }
        .mypage_buy_purchase_list3 {
          display: table-cell;
          text-align: center;
        }
      }
    }
    .mypage_sell {
      .mypage_sell_title {
        display: flex;
        margin-top: 42px;
        .mypage_sell_title_h3 {
          font-size: 18px;
          font-weight: 700;
        }
        .mypage_sell_title_a {
          display: flex;
          margin-left: auto;
          font-size: 13px;
          align-items: center;
        }
      }
      .mypage_sell_sale_list {
        background-color: #fafafa;
        border-radius: 12px;
        display: table;
        table-layout: fixed;
        width: 100%;
        font-size: 13px;
        padding: 30px;
        .mypage_sell_sale_list1 {
          display: table-cell;
          text-align: center;
        }
        .mypage_sell_sale_list2 {
          display: table-cell;
          text-align: center;
        }
        .mypage_sell_sale_list3 {
          display: table-cell;
          text-align: center;
        }
      }
    }
    .mypage_wish {
      .mypage_wish_title {
        display: flex;
        margin-top: 42px;
        .mypage_wish_title_h3 {
          font-size: 18px;
          font-weight: 700;
        }
        .mypage_wish_title_a {
          display: flex;
          margin-left: auto;
          font-size: 13px;
          align-items: center;
        }
      }
    }
  }
}
