.payment_wrap {
  color: #222222;

  .success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #eee;

    .icon {
      font-size: 30px;
      color: #31b46e;
      margin-bottom: 8px;
    }

    .success_content {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .order_detail {
      width: 300px;
      background-color: #fff;
      padding: 20px 10px;
      border-radius: 10px;
      margin-bottom: 20px;
      border-spacing: 4px 4px;

      th {
        font-size: 13px;
        color: #222222cc;
        font-weight: 600;
      }

      td {
        font-size: 14px;
        padding-left: 10px;
      }
    }

    .goToBtn {
      display: flex;
      justify-content: center;
      gap: 10px;

      .toMypage,
      .toHome {
        padding: 12px 30px;
        border: 1px solid #222222;
        border-radius: 4px;
      }

      .toMypage {
        transition: all ease-in 100ms;
        &:hover {
          scale: 1.05;
        }
      }

      .toHome {
        color: #fff;
        background-color: #222222;
        transition: all ease-in 100ms;

        &:hover {
          scale: 1.05;
        }
      }
    }
  }
}
