.style_container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 40px;

  .upload_section {
    text-align: end;

    .upload_style {
      padding: 10px;
      border: 1px solid #22222280;
      border-radius: 4px;
      font-size: 12px;

      &:hover {
        color: #fff;
        background-color: #222222;
      }
    }
  }

  .review_wrap {
    width: calc(100% - 20px);
    padding-top: 20px;
    margin: 0 auto;
    cursor: pointer;

    &.vertical {
      height: 350px;
    }

    &.square {
      height: 280px;
    }
  }

  .review_img {
    height: 80%;
    border-radius: 8px;
  }

  .review_detail {
    display: flex;
    flex-direction: column;
    height: 20%;
    padding: 8px 4px 0;

    .detail_user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      letter-spacing: -0.15px;
      color: #222222cc;
      margin-bottom: 6px;

      .likeBtn {
        background-color: transparent;
        cursor: pointer;
        &:hover {
          color: #ff238d;
        }
        &.liked {
          color: #ff238d;
        }
      }
    }

    .content {
      font-size: 14px;
      color: #222222;
    }
  }
}

.post_container {
  width: 100%;
  max-width: 720px;
  color: #222222;
  margin: 0 auto;
  padding: 0 40px;

  .user_info {
    padding: 12px 0;

    .user_name {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.33px;
    }
  }

  .post_img {
    height: 700px;
    margin-bottom: 25px;
  }

  .post_tag_wrap {
    padding: 12px 16px;
    border-bottom: 1px solid #f4f4f4;

    .tag_header {
      font-size: 15px;
      letter-spacing: -0.23px;
      min-height: 24px;
      margin-bottom: 8px;
    }

    .tag_item {
      display: flex;
      align-items: center;
      gap: 14px;
    }

    .item_img {
      width: 100px;
      height: 100px;
      border-radius: 6px;
    }

    .item_info {
      font-size: 16px;
      letter-spacing: -0.33px;
      line-height: 16px;

      .item_title {
        margin-bottom: 4px;
      }

      .item_price {
        font-weight: 700;
      }
    }
  }

  .post_content {
    font-size: 17px;
    padding: 12px 16px;
  }
}

.uploadReview_container {
  padding: 30px 0;
  color: #222222;
  background-color: #f4f4f4;

  .uploadReview_wrap {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border: 2px solid #222;
    border-radius: 8px;

    .review_header {
      color: #000;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      padding: 0 0 8px;
      border-bottom: 2px solid #222222;
      margin-bottom: 4px;
    }

    .review_item {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;
      padding: 20px 32px;
      border-bottom: 1px solid #eee;
      margin-bottom: 12px;

      .item_img {
        width: 80px;
        height: 80px;
        background-color: #eee;
        border-radius: 10px;
      }

      .item_detail {
        font-size: 14px;
        line-height: 17px;

        .brand {
          color: #22222280;
          font-size: 13px;
          letter-spacing: -0.05px;
          line-height: 16px;
        }
      }
    }

    .review_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .previewImg {
        width: 240px;
        height: 300px;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 10px;

        &.noImg {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eeeff1;
        }
      }

      .upload_box {
        width: 80%;
        padding: 8px 0;
        border-radius: 8px;
        margin-bottom: 20px;

        #upload_file {
          position: relative;
          outline: none;
          padding: 4px;
          margin: -4px;

          &::file-selector-button {
            width: 136px;
            color: transparent;
            padding: 0 16px;
            height: 40px;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 20px;
            margin-right: 16px;
            transition: all 200ms ease-in;
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
            cursor: pointer;

            &:hover {
              border: none;
              background-color: #f3f4f6;
            }

            &:active {
              background-color: #e5e7eb;
            }
          }

          &::before {
            position: absolute;
            pointer-events: none;
            top: 14px;
            left: 18px;
            height: 20px;
            width: 20px;
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
          }

          &::after {
            position: absolute;
            pointer-events: none;
            top: 13px;
            left: 42px;
            color: #0964b0;
            content: "Upload File";
          }
        }

        .deleteBtn {
          font-size: 14px;
          margin-left: 8px;
        }
      }
    }

    .review_content {
      width: 80%;
      height: 80px;
      overflow-y: auto;
      outline: none;
      padding: 8px;
      border: 1px solid #ebebeb;
      margin-bottom: 10px;
      resize: none;
    }

    .uploadBtn {
      width: 100%;
      height: 52px;
      color: #fff;
      border-radius: 10px;
      background-color: #ebebeb;

      &.active {
        background-color: #222222;
        cursor: pointer;
      }
    }
  }
}
