.search_wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  .search_inner {
    position: relative;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    margin: 40px auto;
    form {
      width: 80%;
      height: 50px;
      border-bottom: 2px solid #000;
      input {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        &::placeholder {
          font-size: 18px;
          color: rgb(175, 175, 175);
        }
        &:focus {
          outline: none;
        }
      }
    }
    .close_icon {
      position: relative;
      top: 0;
      right: 0;
      display: block;
      margin-left: 20px;
      .close_btn {
        font-size: 31px;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}
