.search-pop {
  width: 50%;
  height: 150px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 100;

  .search-form {
    position: relative;
    width: 95%;
    height: auto;
    background-color: #fff;
    border-bottom: 3px solid black;
  }

  .search_input {
    width: 93%;
    height: 40px;
    font-size: 18px;
    padding: 8px;
    border: none;
    outline: none;
  }

  .resetIcon {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #808080;
    cursor: pointer;
  }

  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    cursor: pointer;
  }
}
