.sell_wrap {
  padding-top: 30px;
  color: #222222;

  .sell_apply {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin: auto;
    padding: 40px;
    border: 2px solid #222;
    border-radius: 8px;

    .sell_header {
      color: #000;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      padding: 0 0 8px;
      border-bottom: 2px solid #222222;
      margin-bottom: 4px;
    }

    .sell_item {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;
      height: 144px;
      padding: 20px 32px;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 12px;

      .item_img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
      }
    }

    .sell_form {
      font-size: 14px;
      font-weight: 700;

      .sell_form_input {
        width: 200px;
        outline: none;
        text-align: end;
        font-size: 18px;
        font-weight: 600;
        padding-right: 4px;

        &::placeholder {
          font-size: 18px;
          font-weight: 600;
          color: #bcbcbc;
        }
      }

      .input_unit {
        font-size: 18px;
        font-weight: 600;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .sell_size,
      .sell_desc,
      .sell_price {
        padding-bottom: 10px;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 18px;
      }

      .sell_desc {
        display: flex;
        flex-direction: column;

        #desc {
          width: 100%;
          height: 80px;
          overflow-y: auto;
          outline: none;
          margin-top: 8px;
        }
      }

      .sell_size,
      .sell_price {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .sell_fee {
        width: 100%;
        margin-bottom: 24px;
        tr {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          letter-spacing: -0.21px;
          font-weight: 400;
        }

        .fee_title {
          font-size: 13px;
          letter-spacing: -0.07px;
          color: #22222280;
        }
      }

      .deadline_wrap {
        padding-bottom: 32px;
        border-bottom: 2px solid #eee;

        .deadline_header {
          font-size: 14px;
          font-weight: 700;
          letter-spacing: -0.21px;
          margin-bottom: 6px;
        }

        .deadline_text {
          font-size: 15px;
          font-weight: 400;
          letter-spacing: -0.15px;
          margin-bottom: 6px;
        }

        .deadline_dates {
          display: grid;
          grid-template-columns: repeat(5, minmax(0, 1fr));
          gap: 40px 20px;

          button {
            width: 100%;
            height: 42px;
            background-color: transparent;
            border: 1px solid #d3d3d3;
            border-radius: 12px;
            padding: 0 18px;
            font-size: 14px;
            color: #222222cc;
            cursor: pointer;

            &:hover {
              background-color: #ebebeb;
            }

            &.selected {
              border: 1px solid #222;
              color: #222;
              font-weight: 700;

              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }

      .totalPrice_wrap {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.01px;
        padding: 16px 0 12px;
      }

      .totalPrice_title {
      }

      .totalPrice_amount {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        //   color: #31b46e;
      }

      .applyBtn {
        width: 100%;
        height: 52px;
        color: #fff;
        border-radius: 10px;
        background-color: #ebebeb;
      }
    }
  }
}
