.shop_container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  color: #222222;
  margin: 0 auto;
  padding: 40px 40px;

  .category_wrap {
    width: 200px;
    height: 300px;
    position: -webkit-sticky;
    position: sticky;
    top: 140px;

    .category_header {
      font-size: 13px;
      font-weight: 600;
      letter-spacing: -0.07px;
      padding: 0 0 10px;
    }

    .menu_list {
      .menu {
        font-size: 14px;
        letter-spacing: -0.21px;
        padding: 5px 0;
        cursor: pointer;

        &.selected {
          font-weight: 700;
          .icon {
            color: #222222;
          }
        }

        .icon {
          font-size: 16px;
          color: #e3e3e3;
          margin-right: 6px;
        }
      }
    }
  }

  .shop_items {
    width: 100%;

    .items_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .items_title {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: -0.07px;

        .itemNum {
          color: #222222cc;
          font-weight: 400;
        }
      }

      .dropdown {
        position: relative;
        margin: 0;
        font-size: 14px;

        button {
          font-size: 14px;
          background-color: transparent;
          cursor: pointer;
        }

        .dropdown_menu {
          display: none;

          &.show {
            display: block;
            position: absolute;
            top: 30px;
            right: 0;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
          }

          .menu {
            width: 150px;
            letter-spacing: -0.21px;
            padding: 12px 16px;
            text-align: start;

            &:hover {
              background-color: #fafafa;
            }
          }
        }
      }
    }

    .item_list {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 40px 20px;
      margin-bottom: 20px;

      .item {
        .item_img {
          width: 100%;
          height: 230px;
          border-radius: 10px;
          margin-bottom: 8px;
          background-color: #eee;
        }

        .item_desc {
          padding: 0 4px;

          .brandName {
            font-size: 13px;
            font-weight: 700;
            color: #333333;
            margin-bottom: 2px;
          }

          .productName {
            font-size: 13px;
            color: #222222;
            margin-bottom: 2px;
          }

          .price {
            font-size: 14px;
            font-weight: 700;
            color: #222222;
          }
        }
      }
    }
  }
}
