.style_container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  .review_wrap {
    width: calc(100% - 20px);
    padding-top: 20px;

    &.vertical {
      height: 350px;
    }

    &.square {
      height: 280px;
    }
  }

  .review_img {
    height: 80%;
    border-radius: 8px;
  }

  .review_detail {
    height: 20%;
    padding: 8px 4px 0;

    .user {
      font-size: 15px;
      letter-spacing: -0.15px;
      color: #222222cc;
      margin-bottom: 6px;
    }

    .content {
      font-size: 14px;
      color: #222222;
    }
  }
}

.post_container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 40px;

  .user_info {
    padding: 12px 0;

    .user_name {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.33px;
    }
  }

  .post_img {
    height: 700px;
  }
}
