.terms_container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px 40px 0;
  .terms_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    .terms_item {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .terms_item_inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        gap: 12px;
        max-width: 500px;
        padding-bottom: 1%;
        margin-bottom: 2%;
        border-bottom: 1px solid #000;
        .terms_input_icon {
          margin-right: 2%;
        }
        .terms_icon {
          width: 24px;
          height: 24px;
          display: inline-block;
        }
      }
    }
  }
  .terms_btn {
    width: 100%;
    height: 60px;
    max-width: 500px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    &:hover {
      background-color: #fff;
      color: #222;
      border: 1px solid #222;
    }
  }
}
