.wishlist_container {
  width: 100%;
  .goToShopBtn {
    font-size: 12px;
    color: #222222cc;
    border: 1px solid #22222280;
    padding: 8px 12px;
    border-radius: 10px;
    margin-top: 20px;

    &:hover {
      background-color: #222;
      color: #fff;
      border-color: #222;
    }
  }
  .wishlist_title {
    font-size: 24px;
    letter-spacing: -0.36px;
    font-weight: bold;
    border-bottom: 4px solid #222;
    padding-bottom: 12px;
  }
  .wish_list {
    .wish_count {
      padding: 20px 0;
      color: rgba(34, 34, 34, 0.8);
      font-size: 14px;
      letter-spacing: -0.07px;
    }
    .wish_item_container {
      border-bottom: 1px solid #ddd;
      padding: 4% 0;
      display: block;
      .wish_item_wrap {
        display: flex;
        align-items: center;
        gap: 18px;
        .wish_item_img {
          width: 80px;
          height: 80px;
          border-radius: 14px;
          overflow: hidden;
          background-color: #f5f5f5;
        }
        .wish_item_info {
          .wish_item_info_brand {
            color: #222;
            display: inline-block;
            font-size: 13px;
            font-weight: 700;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
            white-space: nowrap;
            width: fit-content;
          }
          .wish_item_info_name {
            display: -webkit-box;
            font-size: 13px;
            letter-spacing: -0.03px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
          }
        }
      }
    }
  }
}
