.header-wrapper {
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}
.badge {
  height: 26px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  margin-right: 20px;
}
.product-title {
  font-size: 24px;
  font-weight: bold;
}

.main-wrapper {
}
.main-left img {
  width: 100%;
  display: block;
}
.thumbnail-wrapper {
  margin-top: 20px;
}
.thumbnail-wrapper img {
  width: 60px;
  height: 72px;
}
.main-right {
  width: 400px;
  margin-left: 20px;
}
.product-info,
.delivery-info,
.price-info,
.purchase {
  margin-bottom: 20px;
}
.info-title {
  font-size: 18px;
  font-weight: bold;
}
.info-item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.info-label {
  font-weight: bold;
}
.total-price {
  margin-top: 10px;
}
.total-label {
  font-weight: bold;
}
.purchase-button {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
#options {
  border: 1px solid #000;
  padding: 6px;
  display: block;
  border-radius: 14px;
}
