.product-container {
  font-family: Arial, sans-serif;
  width: 500px;
  margin: auto;
}
.product-direct {
  margin-bottom: 0.25em;
}
.product-price {
  color: #000;
  font-size: 2em;
  margin-bottom: 0.25em;
}
.product-title {
  margin-bottom: 0.5em;
}
.dropdown {
  margin: 20px;
}

.dropdown select {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* 화살표 스타일링을 위해 */
.dropdown select {
  -webkit-appearance: none; /* 크롬, 사파리 대응 */
  -moz-appearance: none; /* 파이어폭스 대응 */
  appearance: none; /* 표준 대응 */
  /*background: url("arrow_down_icon.png") no-repeat right;  화살표 아이콘 */
  background-size: 12px; /* 아이콘 사이즈 조정 */
}
.info-section {
  text-align: center;
  width: 200px;
}

.discount-price {
  color: red;
  font-weight: bold;
}

.savings {
  color: green;
  font-weight: bold;
}

.label {
  display: block;
  font-weight: bold;
  background-color: #f2f2f2;
  margin-bottom: 5px;
}

.value {
  margin-bottom: 10px;
}
.button {
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
}

.buy-button {
  background-color: #e53935; /* Red */
}

.sell-button {
  background-color: #4caf50; /* Green */
}

.wishlist-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.wishlist-button {
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.wishlist-count {
  margin-left: 10px;
}
.product-gallery {
  text-align: center;
}

.main-image {
  width: 80%;
  max-width: 600px; /* Adjust as needed */
  margin-bottom: 20px;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnail {
  width: 100px; /* Adjust as needed */
  cursor: pointer;
  opacity: 0.6;
}

.thumbnail:hover {
  opacity: 1;
}
