.form1 {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.div {
  width: 360px;
}

.userjoin_msg {
  width: 100%;
  resize: none;
  margin: 9px 0 0 16px;
  padding: 15px;
  max-height: 100px;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  margin-bottom: 20px;
}

#checkbox1 {
  width: 16px;
  height: 16px;

  top: 0;
  left: 0;
  content: "";
}
#checkbox2 {
  width: 16px;
  height: 16px;

  top: 0;
  left: 0;
  content: "";
}
#checkbox3 {
  width: 16px;
  height: 16px;

  top: 0;
  left: 0;
  content: "";
}

#check-all {
  width: 16px;
  height: 16px;
  content: "";
}
.option {
  display: inline-block;
  margin-right: 4px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.6px;
  color: #929294;
  vertical-align: middle;
}
.optionpoint {
  display: inline-block;
  margin-right: 4px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.6px;
  color: #09aa5c;
  vertical-align: middle;
}
.text {
  font-weight: 700;
}

.buttongather {
  width: 100%;
  padding: 14px 0;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #9ae02a;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
}
input[type="checkbox"]#checkbox1 {
  appearance: checkbox; /* 또는 -webkit-appearance: checkbox; */
}
input[type="checkbox"]#checkbox2 {
  appearance: checkbox; /* 또는 -webkit-appearance: checkbox; */
}
input[type="checkbox"]#checkbox3 {
  appearance: checkbox; /* 또는 -webkit-appearance: checkbox; */
}
input[type="checkbox"]#check-all {
  appearance: checkbox; /* 또는 -webkit-appearance: checkbox; */
}
