.div2 {
  width: 320px;
  height: 210px;
  resize: none;
}
.userjoin_msg {
  width: 360px;
  height: 107px;
  resize: none;
  margin: 9px 0 0 16px;
  padding: 15px;
}
.userjoin_msg2 {
  width: 360px;
  height: 177px;
  resize: none;
  max-height: 100px;
  border: 1px solid #d6d6d6;
  margin: 8px 0 0 24px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.userjoin_msg3 {
  width: 360px;
  height: 177px;
  resize: none;
  max-height: 100px;
  border: 1px solid #d6d6d6;
  margin: 8px 0 0 24px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.userjoin_msg4 {
  width: 360px;
  height: 170px;
  resize: none;
  max-height: 100px;
  border: 1px solid #d6d6d6;
  margin: 8px 0 0 24px;
  padding: 15px;
  margin-top: 20px;
}
#checkbox1 {
  width: 16px;
  height: 16px;

  top: 0;
  left: 0;
  content: "";
}
#checkbox2 {
  width: 16px;
  height: 16px;

  top: 0;
  left: 0;
  content: "";
}
#checkbox3 {
  width: 16px;
  height: 16px;

  top: 0;
  left: 0;
  content: "";
}
#check-all {
  width: 16px;
  height: 16px;
  content: "";
}
input[type="checkbox"]#checkbox1 {
  appearance: checkbox; /* 또는 -webkit-appearance: checkbox; */
}
input[type="checkbox"]#checkbox2 {
  appearance: checkbox; /* 또는 -webkit-appearance: checkbox; */
}
input[type="checkbox"]#checkbox3 {
  appearance: checkbox; /* 또는 -webkit-appearance: checkbox; */
}
input[type="checkbox"]#check-all {
  appearance: checkbox; /* 또는 -webkit-appearance: checkbox; */
}
